.Button {
    cursor: pointer;
    color: #201F1E;

    padding: 12px 16px;
    border: 0;
    background-color: #00c753;

    border: none;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0px 0px 5px 0px #000000;
    opacity: 1;
    transition: all 0.1s ease-in-out;

    &:hover {
        background-color: rgba(28, 80, 135, 0.08);
        color: #201F1E;
    }
    img {
        width: 48px;
        height: 48px;
        border-radius: 4px;
        object-fit: cover;
    }

    .redButton {
        background-color: #a92e2e;
    }
}

.large {
    width: 300px !important;
}

.small {
    width: 80px !important;;
}
