.Message {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;

  &.owner {
    flex-direction: row-reverse;

    .messageContent {
      align-items: flex-end;
      .messageText {
        background: rgba(64, 126, 201, 0.16);
        border-radius: 4px;
      }
    }
  }
}

.messageInfo {
  display: flex;
  flex-direction: column;

  img {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    object-fit: cover;
  }
}

.messageContent {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  img {
    width: 50%;
  }
}

.messageText {
  display: flex;
  padding: 8px 12px;
  border-radius: 0 10px 10px 10px;
  max-width: max-content;
  align-items: flex-end;
  gap: 12px;
  font-size: 15px;

  .read {
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 12px;
  }


  img {
    width: 16px;
    height: 10px;
  }
}

.time {
  margin-top: 5px;
  opacity: 0.5;
  font-size: 10px;
}
