* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  margin: 0 auto;
  padding: 0;
  min-width: 748px;
  max-width: 1980px;
  width: 100%;
  min-height: 600px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-header {
  display: flex;
  height: 69px;
  border-bottom: 1px solid;
  padding: 20px 16px;
  align-items: center;
}
img {
  width: 16px;
  height: 16px;
}

